@font-face {
  font-family: 'IconMoon-Feather-Icons';
  src:  url('fonts/IconMoon-Feather-Icons.eot?4q8b13');
  src:  url('fonts/IconMoon-Feather-Icons.eot?4q8b13#iefix') format('embedded-opentype'),
    url('fonts/IconMoon-Feather-Icons.ttf?4q8b13') format('truetype'),
    url('fonts/IconMoon-Feather-Icons.woff?4q8b13') format('woff'),
    url('fonts/IconMoon-Feather-Icons.svg?4q8b13#IconMoon-Feather-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IconMoon-Feather-Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fthactivity:before {
  content: "\e900";
}
.fthairplay:before {
  content: "\e901";
}
.fthalert-circle:before {
  content: "\e902";
}
.fthalert-octagon:before {
  content: "\e903";
}
.fthalert-triangle:before {
  content: "\e904";
}
.fthalign-center:before {
  content: "\e905";
}
.fthalign-justify:before {
  content: "\e906";
}
.fthalign-left:before {
  content: "\e907";
}
.fthalign-right:before {
  content: "\e908";
}
.fthanchor:before {
  content: "\e909";
}
.fthaperture:before {
  content: "\e90a";
}
.ftharchive:before {
  content: "\e90b";
}
.ftharrow-down:before {
  content: "\e90c";
}
.ftharrow-down-circle:before {
  content: "\e90d";
}
.ftharrow-down-left:before {
  content: "\e90e";
}
.ftharrow-down-right:before {
  content: "\e90f";
}
.ftharrow-left:before {
  content: "\e910";
}
.ftharrow-left-circle:before {
  content: "\e911";
}
.ftharrow-right:before {
  content: "\e912";
}
.ftharrow-right-circle:before {
  content: "\e913";
}
.ftharrow-up:before {
  content: "\e914";
}
.ftharrow-up-circle:before {
  content: "\e915";
}
.ftharrow-up-left:before {
  content: "\e916";
}
.ftharrow-up-right:before {
  content: "\e917";
}
.fthat-sign:before {
  content: "\e918";
}
.fthaward:before {
  content: "\e919";
}
.fthbar-chart:before {
  content: "\e91a";
}
.fthbar-chart-2:before {
  content: "\e91b";
}
.fthbattery:before {
  content: "\e91c";
}
.fthbattery-charging:before {
  content: "\e91d";
}
.fthbell:before {
  content: "\e91e";
}
.fthbell-off:before {
  content: "\e91f";
}
.fthbluetooth:before {
  content: "\e920";
}
.fthbold:before {
  content: "\e921";
}
.fthbook:before {
  content: "\e922";
}
.fthbook-open:before {
  content: "\e923";
}
.fthbookmark:before {
  content: "\e924";
}
.fthbox:before {
  content: "\e925";
}
.fthbriefcase:before {
  content: "\e926";
}
.fthcalendar:before {
  content: "\e927";
}
.fthcamera:before {
  content: "\e928";
}
.fthcamera-off:before {
  content: "\e929";
}
.fthcast:before {
  content: "\e92a";
}
.fthcheck:before {
  content: "\e92b";
}
.fthcheck-circle:before {
  content: "\e92c";
}
.fthcheck-square:before {
  content: "\e92d";
}
.fthchevron-down:before {
  content: "\e92e";
}
.fthchevron-left:before {
  content: "\e92f";
}
.fthchevron-right:before {
  content: "\e930";
}
.fthchevron-up:before {
  content: "\e931";
}
.fthchevrons-down:before {
  content: "\e932";
}
.fthchevrons-left:before {
  content: "\e933";
}
.fthchevrons-right:before {
  content: "\e934";
}
.fthchevrons-up:before {
  content: "\e935";
}
.fthchrome:before {
  content: "\e936";
}
.fthcircle:before {
  content: "\e937";
}
.fthclipboard:before {
  content: "\e938";
}
.fthclock:before {
  content: "\e939";
}
.fthcloud:before {
  content: "\e93a";
}
.fthcloud-drizzle:before {
  content: "\e93b";
}
.fthcloud-lightning:before {
  content: "\e93c";
}
.fthcloud-off:before {
  content: "\e93d";
}
.fthcloud-rain:before {
  content: "\e93e";
}
.fthcloud-snow:before {
  content: "\e93f";
}
.fthcode:before {
  content: "\e940";
}
.fthcodepen:before {
  content: "\e941";
}
.fthcodesandbox:before {
  content: "\e942";
}
.fthcoffee:before {
  content: "\e943";
}
.fthcolumns:before {
  content: "\e944";
}
.fthcommand:before {
  content: "\e945";
}
.fthcompass:before {
  content: "\e946";
}
.fthcopy:before {
  content: "\e947";
}
.fthcorner-down-left:before {
  content: "\e948";
}
.fthcorner-down-right:before {
  content: "\e949";
}
.fthcorner-left-down:before {
  content: "\e94a";
}
.fthcorner-left-up:before {
  content: "\e94b";
}
.fthcorner-right-down:before {
  content: "\e94c";
}
.fthcorner-right-up:before {
  content: "\e94d";
}
.fthcorner-up-left:before {
  content: "\e94e";
}
.fthcorner-up-right:before {
  content: "\e94f";
}
.fthcpu:before {
  content: "\e950";
}
.fthcredit-card:before {
  content: "\e951";
}
.fthcrop:before {
  content: "\e952";
}
.fthcrosshair:before {
  content: "\e953";
}
.fthdatabase:before {
  content: "\e954";
}
.fthdelete:before {
  content: "\e955";
}
.fthdisc:before {
  content: "\e956";
}
.fthdollar-sign:before {
  content: "\e957";
}
.fthdownload:before {
  content: "\e958";
}
.fthdownload-cloud:before {
  content: "\e959";
}
.fthdroplet:before {
  content: "\e95a";
}
.fthedit:before {
  content: "\e95b";
}
.fthedit-2:before {
  content: "\e95c";
}
.fthedit-3:before {
  content: "\e95d";
}
.fthexternal-link:before {
  content: "\e95e";
}
.ftheye:before {
  content: "\e95f";
}
.ftheye-off:before {
  content: "\e960";
}
.fthfacebook:before {
  content: "\e961";
}
.fthfast-forward:before {
  content: "\e962";
}
.fthfeather:before {
  content: "\e963";
}
.fthfigma:before {
  content: "\e964";
}
.fthfile:before {
  content: "\e965";
}
.fthfile-minus:before {
  content: "\e966";
}
.fthfile-plus:before {
  content: "\e967";
}
.fthfile-text:before {
  content: "\e968";
}
.fthfilm:before {
  content: "\e969";
}
.fthfilter:before {
  content: "\e96a";
}
.fthflag:before {
  content: "\e96b";
}
.fthfolder:before {
  content: "\e96c";
}
.fthfolder-minus:before {
  content: "\e96d";
}
.fthfolder-plus:before {
  content: "\e96e";
}
.fthframer:before {
  content: "\e96f";
}
.fthfrown:before {
  content: "\e970";
}
.fthgift:before {
  content: "\e971";
}
.fthgit-branch:before {
  content: "\e972";
}
.fthgit-commit:before {
  content: "\e973";
}
.fthgit-merge:before {
  content: "\e974";
}
.fthgit-pull-request:before {
  content: "\e975";
}
.fthgithub:before {
  content: "\e976";
}
.fthgitlab:before {
  content: "\e977";
}
.fthglobe:before {
  content: "\e978";
}
.fthgrid:before {
  content: "\e979";
}
.fthhard-drive:before {
  content: "\e97a";
}
.fthhash:before {
  content: "\e97b";
}
.fthheadphones:before {
  content: "\e97c";
}
.fthheart:before {
  content: "\e97d";
}
.fthhelp-circle:before {
  content: "\e97e";
}
.fthhexagon:before {
  content: "\e97f";
}
.fthhome:before {
  content: "\e980";
}
.fthimage:before {
  content: "\e981";
}
.fthinbox:before {
  content: "\e982";
}
.fthinfo:before {
  content: "\e983";
}
.fthinstagram:before {
  content: "\e984";
}
.fthitalic:before {
  content: "\e985";
}
.fthkey:before {
  content: "\e986";
}
.fthlayers:before {
  content: "\e987";
}
.fthlayout:before {
  content: "\e988";
}
.fthlife-buoy:before {
  content: "\e989";
}
.fthlink:before {
  content: "\e98a";
}
.fthlink-2:before {
  content: "\e98b";
}
.fthlinkedin:before {
  content: "\e98c";
}
.fthlist:before {
  content: "\e98d";
}
.fthloader:before {
  content: "\e98e";
}
.fthlock:before {
  content: "\e98f";
}
.fthlog-in:before {
  content: "\e990";
}
.fthlog-out:before {
  content: "\e991";
}
.fthmail:before {
  content: "\e992";
}
.fthmap:before {
  content: "\e993";
}
.fthmap-pin:before {
  content: "\e994";
}
.fthmaximize:before {
  content: "\e995";
}
.fthmaximize-2:before {
  content: "\e996";
}
.fthmeh:before {
  content: "\e997";
}
.fthmenu:before {
  content: "\e998";
}
.fthmessage-circle:before {
  content: "\e999";
}
.fthmessage-square:before {
  content: "\e99a";
}
.fthmic:before {
  content: "\e99b";
}
.fthmic-off:before {
  content: "\e99c";
}
.fthminimize:before {
  content: "\e99d";
}
.fthminimize-2:before {
  content: "\e99e";
}
.fthminus:before {
  content: "\e99f";
}
.fthminus-circle:before {
  content: "\e9a0";
}
.fthminus-square:before {
  content: "\e9a1";
}
.fthmonitor:before {
  content: "\e9a2";
}
.fthmoon:before {
  content: "\e9a3";
}
.fthmore-horizontal:before {
  content: "\e9a4";
}
.fthmore-vertical:before {
  content: "\e9a5";
}
.fthmouse-pointer:before {
  content: "\e9a6";
}
.fthmove:before {
  content: "\e9a7";
}
.fthmusic:before {
  content: "\e9a8";
}
.fthnavigation:before {
  content: "\e9a9";
}
.fthnavigation-2:before {
  content: "\e9aa";
}
.fthoctagon:before {
  content: "\e9ab";
}
.fthpackage:before {
  content: "\e9ac";
}
.fthpaperclip:before {
  content: "\e9ad";
}
.fthpause:before {
  content: "\e9ae";
}
.fthpause-circle:before {
  content: "\e9af";
}
.fthpen-tool:before {
  content: "\e9b0";
}
.fthpercent:before {
  content: "\e9b1";
}
.fthphone:before {
  content: "\e9b2";
}
.fthphone-call:before {
  content: "\e9b3";
}
.fthphone-forwarded:before {
  content: "\e9b4";
}
.fthphone-incoming:before {
  content: "\e9b5";
}
.fthphone-missed:before {
  content: "\e9b6";
}
.fthphone-off:before {
  content: "\e9b7";
}
.fthphone-outgoing:before {
  content: "\e9b8";
}
.fthpie-chart:before {
  content: "\e9b9";
}
.fthplay:before {
  content: "\e9ba";
}
.fthplay-circle:before {
  content: "\e9bb";
}
.fthplus:before {
  content: "\e9bc";
}
.fthplus-circle:before {
  content: "\e9bd";
}
.fthplus-square:before {
  content: "\e9be";
}
.fthpocket:before {
  content: "\e9bf";
}
.fthpower:before {
  content: "\e9c0";
}
.fthprinter:before {
  content: "\e9c1";
}
.fthradio:before {
  content: "\e9c2";
}
.fthrefresh-ccw:before {
  content: "\e9c3";
}
.fthrefresh-cw:before {
  content: "\e9c4";
}
.fthrepeat:before {
  content: "\e9c5";
}
.fthrewind:before {
  content: "\e9c6";
}
.fthrotate-ccw:before {
  content: "\e9c7";
}
.fthrotate-cw:before {
  content: "\e9c8";
}
.fthrss:before {
  content: "\e9c9";
}
.fthsave:before {
  content: "\e9ca";
}
.fthscissors:before {
  content: "\e9cb";
}
.fthsearch:before {
  content: "\e9cc";
}
.fthsend:before {
  content: "\e9cd";
}
.fthserver:before {
  content: "\e9ce";
}
.fthsettings:before {
  content: "\e9cf";
}
.fthshare:before {
  content: "\e9d0";
}
.fthshare-2:before {
  content: "\e9d1";
}
.fthshield:before {
  content: "\e9d2";
}
.fthshield-off:before {
  content: "\e9d3";
}
.fthshopping-bag:before {
  content: "\e9d4";
}
.fthshopping-cart:before {
  content: "\e9d5";
}
.fthshuffle:before {
  content: "\e9d6";
}
.fthsidebar:before {
  content: "\e9d7";
}
.fthskip-back:before {
  content: "\e9d8";
}
.fthskip-forward:before {
  content: "\e9d9";
}
.fthslack:before {
  content: "\e9da";
}
.fthslash:before {
  content: "\e9db";
}
.fthsliders:before {
  content: "\e9dc";
}
.fthsmartphone:before {
  content: "\e9dd";
}
.fthsmile:before {
  content: "\e9de";
}
.fthspeaker:before {
  content: "\e9df";
}
.fthsquare:before {
  content: "\e9e0";
}
.fthstar:before {
  content: "\e9e1";
}
.fthstop-circle:before {
  content: "\e9e2";
}
.fthsun:before {
  content: "\e9e3";
}
.fthsunrise:before {
  content: "\e9e4";
}
.fthsunset:before {
  content: "\e9e5";
}
.fthtablet:before {
  content: "\e9e6";
}
.fthtag:before {
  content: "\e9e7";
}
.fthtarget:before {
  content: "\e9e8";
}
.fthterminal:before {
  content: "\e9e9";
}
.fththermometer:before {
  content: "\e9ea";
}
.fththumbs-down:before {
  content: "\e9eb";
}
.fththumbs-up:before {
  content: "\e9ec";
}
.fthtoggle-left:before {
  content: "\e9ed";
}
.fthtoggle-right:before {
  content: "\e9ee";
}
.fthtool:before {
  content: "\e9ef";
}
.fthtrash:before {
  content: "\e9f0";
}
.fthtrash-2:before {
  content: "\e9f1";
}
.fthtrello:before {
  content: "\e9f2";
}
.fthtrending-down:before {
  content: "\e9f3";
}
.fthtrending-up:before {
  content: "\e9f4";
}
.fthtriangle:before {
  content: "\e9f5";
}
.fthtruck:before {
  content: "\e9f6";
}
.fthtv:before {
  content: "\e9f7";
}
.fthtwitch:before {
  content: "\e9f8";
}
.fthtwitter:before {
  content: "\e9f9";
}
.fthtype:before {
  content: "\e9fa";
}
.fthumbrella:before {
  content: "\e9fb";
}
.fthunderline:before {
  content: "\e9fc";
}
.fthunlock:before {
  content: "\e9fd";
}
.fthupload:before {
  content: "\e9fe";
}
.fthupload-cloud:before {
  content: "\e9ff";
}
.fthuser:before {
  content: "\ea00";
}
.fthuser-check:before {
  content: "\ea01";
}
.fthuser-minus:before {
  content: "\ea02";
}
.fthuser-plus:before {
  content: "\ea03";
}
.fthuser-x:before {
  content: "\ea04";
}
.fthusers:before {
  content: "\ea05";
}
.fthvideo:before {
  content: "\ea06";
}
.fthvideo-off:before {
  content: "\ea07";
}
.fthvoicemail:before {
  content: "\ea08";
}
.fthvolume:before {
  content: "\ea09";
}
.fthvolume-1:before {
  content: "\ea0a";
}
.fthvolume-2:before {
  content: "\ea0b";
}
.fthvolume-x:before {
  content: "\ea0c";
}
.fthwatch:before {
  content: "\ea0d";
}
.fthwifi:before {
  content: "\ea0e";
}
.fthwifi-off:before {
  content: "\ea0f";
}
.fthwind:before {
  content: "\ea10";
}
.fthx:before {
  content: "\ea11";
}
.fthx-circle:before {
  content: "\ea12";
}
.fthx-octagon:before {
  content: "\ea13";
}
.fthx-square:before {
  content: "\ea14";
}
.fthyoutube:before {
  content: "\ea15";
}
.fthzap:before {
  content: "\ea16";
}
.fthzap-off:before {
  content: "\ea17";
}
.fthzoom-in:before {
  content: "\ea18";
}
.fthzoom-out:before {
  content: "\ea19";
}
